{% extends 'header.html' %}

{% block title %} | Mapa{% endblock %}

{% block contenido %}

  <!-- Contenido específico para mostrar el mapa -->
  <div class="col-12 col-md-10 offset-md-3 mx-auto" > <div id="map" style="height: 600px;"></div></div>

  <!-- Agrega la API de Google Maps -->
  <script>
    var apiKey = '{{ GOOGLE_API_KEY }}';
    console.log('GOOGLE_API_KEY:', apiKey);

    function initMap() {
      // Coordenadas del centro de Talca
      {% if paradero %}
            // Si hay un paradero, centra el mapa en sus coordenadas
            var coordenadas = { lat: {{ paradero.ubicacion.lat }}, lng: {{ paradero.ubicacion.lng }} };
            var mapOptions = {
        center: coordenadas,
        zoom: 14, // Ajusta el nivel de zoom según tu preferencia
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      // Crea un marcador para el paradero
      var marker = new google.maps.Marker({
        position: coordenadas,
        map: map,
        title: '{{ paradero.nombre }}', // Puedes personalizar el título del marcador
      });
      {% else %}
        // Si no hay un paradero, centra el mapa en el centro de Talca
        var coordenadas = { lat: {{ talca_coordinates.lat }}, lng: {{ talca_coordinates.lng }} };

        // Opciones del mapa
        var mapOptions = {
          center: coordenadas,
          zoom: 14, // Ajusta el nivel de zoom según tu preferencia
        };

        // Crea el mapa
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // Puedes agregar marcadores, polígonos, etc. aquí según tus necesidades.
      {% endif %}


      // Puedes agregar marcadores, polígonos, etc. aquí según tus necesidades.
    }
//////////////////////////////////////////////////////////////////////////////////////////////////
      // Parsea la información de los paraderos desde el contexto JSON
      var paraderos = JSON.parse('{{ paraderos|safe }}');

      // Itera sobre los paraderos y agrega marcadores
      paraderos.forEach(function(paradero) {
        var ubicacion = JSON.parse(paradero.fields.ubicacion);
        var marker = new google.maps.Marker({
          position: { lat: ubicacion[0], lng: ubicacion[1] },
          map: map,
          title: paradero.fields.nombre,
        });

        // Puedes personalizar los marcadores según tus necesidades
        // Por ejemplo, puedes agregar un evento de clic para mostrar más información.
        marker.addListener('click', function() {
          // Aquí puedes agregar la lógica para mostrar información sobre el paradero.
          alert('Paradero: ' + paradero.fields.nombre);
        });
      });
//////////////////////////////////////////////////////////////////////////////////////////////////
  </script>
  <script>
    // Función para volver atrás
    function goBack() {
        window.history.back();
    }
</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>
{% endblock %}
{% block contenidoSecundario %}
<br>
<button class="btn-back" onclick="goBack()">Volver atrás</button>
{% endblock %}
