{% extends 'header.html' %}

{% block title %} | Mapa{% endblock %}

{% block content %}
  <!-- Contenido específico para mostrar el mapa -->
  <div id="map" style="height: 600px;"></div>

  <!-- Agrega la API de Google Maps -->
  <script>
    var apiKey = '{{ GOOGLE_API_KEY }}';
    console.log('GOOGLE_API_KEY:', apiKey);

    function initMap() {
      // Coordenadas del centro de Talca
      var talca = { lat: -35.4261, lng: -71.6485 };

      // Opciones del mapa
      var mapOptions = {
        center: talca,
        zoom: 14, // Ajusta el nivel de zoom según tu preferencia
      };

      // Crea el mapa
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      // Puedes agregar marcadores, polígonos, etc. aquí según tus necesidades.
    }
//////////////////////////////////////////////////////////////////////////////////////////////////
      // Parsea la información de los paraderos desde el contexto JSON
      var paraderos = JSON.parse('{{ paraderos|safe }}');

      // Itera sobre los paraderos y agrega marcadores
      paraderos.forEach(function(paradero) {
        var ubicacion = JSON.parse(paradero.fields.ubicacion);
        var marker = new google.maps.Marker({
          position: { lat: ubicacion[0], lng: ubicacion[1] },
          map: map,
          title: paradero.fields.nombre,
        });

        // Puedes personalizar los marcadores según tus necesidades
        // Por ejemplo, puedes agregar un evento de clic para mostrar más información.
        marker.addListener('click', function() {
          // Aquí puedes agregar la lógica para mostrar información sobre el paradero.
          alert('Paradero: ' + paradero.fields.nombre);
        });
      });
//////////////////////////////////////////////////////////////////////////////////////////////////
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>
{% endblock %}

{% block scripts %}
 
{% endblock %}