{% extends "header.html" %}
{% load static %}
{% block contenido%}

                    <h1 class="masthead-heading mb-0">No pierdas tiempo</h1>
                    <h2 class="masthead-subheading mb-0">Ve donde viene tu micro</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/lector">Escanear QR</a>
{% endblock %}
{% block contenidoIndex%}
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/01.jpg' %}" alt="..." /></div>
                    </div>							
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Micros van, Micros vienen.</h2>
                            <p>No pierdas tu tiempo esperando micros que no vienen. Mycrotal te entrega la solución ofreciéndote acceso al recorrido y rastreo en tiempo real de las micros de Talca.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/scanner.jpeg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Sigue la micro con tu teléfono!</h2>
                            <p>Utiliza tu teléfono para escanear los codigos QR que se encuentran
en los paraderos, estos te entregarán información sobre el paradero en el que te encuentras y las micros que pasan por allí.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

    </body>		
</html>
{% endblock %}
