{% extends "header.html" %}

{% block titulo_columna_izquierda %}
    <div class="text-center">
        <h5>Navegación</h5>
    </div>
{% endblock titulo_columna_izquierda %}

{% block content_columna_izquierda %}
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Leer QR</a></li>
        <li class="list-group-item"><a href="#">Líneas</a></li>
        <li class="list-group-item"><a href="#">Paraderos</a></li>
        <li class="list-group-item"><a href="#">Acerca de</a></li>
    </ul>
{% endblock %}
